version: '3.7'

services:
  base:
    image: ghcr.io/sparrovv/poetry-test-app:base-${CURRENT_BRANCH:?err}
    env_file:
      - .env.local
    build:
      dockerfile: Dockerfile
      context: .
      target: base
      cache_from:
        - ghcr.io/sparrovv/poetry-test-app:base-${CURRENT_BRANCH:?err}
        - ghcr.io/sparrovv/poetry-test-app:base-main

  ci:
    image: ghcr.io/sparrovv/poetry-test-app:ci-${CURRENT_BRANCH:?err}
    env_file:
      - .env.local
    build:
      dockerfile: Dockerfile
      context: .
      target: ci
      args:
        REVISION: ${GITHUB_SHA:?err}
      cache_from:
        - ghcr.io/sparrovv/poetry-test-app:base-${CURRENT_BRANCH:?err}
        - ghcr.io/sparrovv/poetry-test-app:base-main
    command: ["/app/start"]
    ports:
      - "8080:8080"

  release:
    image: ghcr.io/sparrovv/poetry-test-app:release
    build:
      dockerfile: Dockerfile
      context: .
      target: release
      args:
        REVISION: ${GITHUB_SHA:?err}
      cache_from:
        - ghcr.io/sparrovv/poetry-test-app:ci-${CURRENT_BRANCH:?err}
        - ghcr.io/sparrovv/poetry-test-app:base-${CURRENT_BRANCH:?err}
        - ghcr.io/sparrovv/poetry-test-app:base-main
    env_file:
      - .env.local
