name: build-cache-buildx

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env:
  REGISTRY: ghcr.io
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

jobs:
  build:
    runs-on: ubuntu-latest
    name: build
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          tags: sparrovv/poetry-test-app:ci-${{ github.head_ref || github.ref_name }}
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          build-args: |
            "REVISION=${GITHUB_SHA}"
            "CURRENT_BRANCH=${{ github.head_ref || github.ref_name }}"
          cache-from: |
            sparrovv/poetry-test-app:cache
          push: true
          load: true
          file: ./Dockerfile
          context: .
#          cache-from: type=local,src=/tmp/.buildx-cache
#          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Display images
        run: docker images

      - name: Run tests
        env:
          CURRENT_BRANCH:  ${{ github.head_ref || github.ref_name }}
        run: docker-compose -f "docker-compose.ci.yml" run ci pytest