name: build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env:
  REGISTRY: ghcr.io
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

jobs:
  build:
    runs-on: ubuntu-latest
    name: build
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Display images
        run: docker images

      - name: build images
        env:
          CURRENT_BRANCH:  ${{ github.head_ref || github.ref_name }}
        run:  |
          docker compose -f "docker-compose.ci.yml" build ci

      - name: run tests
        env:
          CURRENT_BRANCH:  ${{ github.head_ref || github.ref_name }}
        run: docker compose -f "docker-compose.ci.yml" run ci pytest

      - name: release images
        env:
          CURRENT_BRANCH:  ${{ github.head_ref || github.ref_name }}
          IMAGE_NAME: "ghcr.io/sparrovv/poetry-test-app"
        run: |
          docker compose -f "docker-compose.ci.yml" push ci

          docker tag $IMAGE_NAME:ci-$CURRENT_BRANCH $IMAGE_NAME:ci-${{ github.sha }}
          docker push $IMAGE_NAME:ci-${{ github.sha }}

          docker compose -f "docker-compose.ci.yml" build release
          docker compose -f "docker-compose.ci.yml" push release

          docker tag $IMAGE_NAME:release $IMAGE_NAME:release-${{ github.sha }}
          docker push $IMAGE_NAME:release-${{ github.sha }}