name: build-cache-buildx

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env:
  REGISTRY: ghcr.io
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

jobs:
  build:
    runs-on: ubuntu-latest
    name: build
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build a ci docker image
        uses: docker/build-push-action@v3
        with:
          tags: |
            ghcr.io/${{ github.repository_owner }}/poetry-test-app:ci-${{ github.head_ref || github.ref_name }}
          build-args: |
            "REVISION=${{github.sha}}"
            "CURRENT_BRANCH=${{ github.head_ref || github.ref_name }}"
          load: true
          target: ci
          file: ./Dockerfile
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build release docker image
        uses: docker/build-push-action@v3
        with:
          tags: |
            ghcr.io/${{ github.repository_owner }}/poetry-test-app:release-${{ github.head_ref || github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/poetry-test-app:release-${{ github.sha }}
          build-args: |
            "REVISION=${{github.sha}}"
            "CURRENT_BRANCH=${{ github.head_ref || github.ref_name }}"
          load: true
          target: release
          file: ./Dockerfile
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Display images
        run: docker images

      - name: Run tests
        env:
          CURRENT_BRANCH:  ${{ github.head_ref || github.ref_name }}
        run: docker-compose -f "docker-compose.ci.yml" run ci pytest

      - name: Build and push CI
        uses: docker/build-push-action@v3
        with:
          tags: |
            ghcr.io/${{ github.repository_owner }}/poetry-test-app:ci-${{ github.head_ref || github.ref_name }}
          build-args: |
            "REVISION=${{github.sha}}"
            "CURRENT_BRANCH=${{ github.head_ref || github.ref_name }}"
          push: true
          target: ci
          file: ./Dockerfile
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push Release
        uses: docker/build-push-action@v3
        with:
          tags: |
            ghcr.io/${{ github.repository_owner }}/poetry-test-app:release-${{ github.head_ref || github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/poetry-test-app:release-${{ github.sha }}
          build-args: |
            "REVISION=${{github.sha}}"
            "CURRENT_BRANCH=${{ github.head_ref || github.ref_name }}"
          push: true
          target: release
          file: ./Dockerfile
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
